* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100vh;
}

header {
    padding: 1vw;
    background-color: rgba(128, 128, 128, 0.616);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>p{
    font-size: 55px;
}

.logoHeader{
    width: 250px;
}
nav>ul{
    margin-right: 100px;
}
nav li a{
    padding: 25px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
}
ul{
    list-style-type: none;
}
.menu>li{
    float:left;
}
.menu li ul{
    display: none;
    position: absolute;
}
.menu li:hover ul{
    display: block;
}
.menu span{
    justify-content: center;
    font-size: 15px;
    position: relative;
    top: 2px;
    display: none;
}
.menuDesplegable{
    display: block;
    margin: -20px 0px 0px 0px;
}
.menuDesplegable a{
    background-color: rgba(128, 128, 128, 0.616);
}
.menuDesplegable a{
    color: black;
    padding: 0 10px;
    margin: 0px 0px 0px 30px;
    font-size: 16px;
}
.menuDesplegable a:hover{
    color: blue;
}
.carrito{
    margin-right: 80px;
    font-size: 40px;
}
.centrar{
    text-align: center;
    align-items: center;
}

.contenedorCards{
    width: auto;
    margin: 20px 0px;
}
.contenedorItemD{
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    align-self: center;
}

.alignCenter{
    align-self: center;
    align-items: center;
}

.divCantidad{
    align-self: center;
    align-content: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.borderBlack{
    border: 2px solid black;
    border-radius: 20px;
}

.cantidadProducto{
    display: inline-block;
    margin: 0 5px;

}

.flexProductos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.textoModal{
    font-size: 20px;
    text-align: center;
}
.nombreProducto{
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}
.cargando{
    font-size: 40px;
    text-align: center;
}
.padding{
    margin: 10px;
}
button{
    margin: 5px;
    border-radius: 5px;
}
.botonAddCart{
    display: block;
    margin: 10px auto;
}
.boldFont{
    font-weight: bold;
}

footer{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 30px 0;
}
footer p{
    font-weight: bold;
    font-size: 18px;
}
footer nav {
    display: flex;
    flex-direction: column;
    margin: 0;
}
footer nav>ul{
    margin: auto;
    padding: 0;
}
footer .menu>li{
    float:none;
}
.menu :hover span{
    display: inline-block;
}
footer .menuDesplegable{
    display: inline-block;
    padding-left: 70px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
footer nav a{
    font-size: 15px;   
    padding: 5px;
}
footer .carrito{
    display: none;
}
.saludo{
    text-align: center;
    margin: 30px 0;
}
.productosTitulo{
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    font-size: 45px;
}

.cardImagen{
    display: block;
    margin: auto;
}