* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100vh;
}

header {
    padding: 1vw;
    background-color: rgba(128, 128, 128, 0.616);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>p{
    font-size: 55px;
}

.logoHeader{
    width: 250px;
}
nav{
    margin-right: 100px;
}
nav>a{
    padding: 25px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.margin{
    margin: 20px 0px;
}

.carrito{
    margin-right: 80px;
    font-size: 40px;
}
.centrar{
    align-content: center;
    text-align: center;
    border: 2px solid black;
    width: 400px;
}

.flexProductos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nombreProducto{
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}
.acordion{
    width: 280px;
    margin: auto auto 15px auto;
}
.accordion-item{
    border: 1px black solid;
    width: auto;
}
.accordion-header{
    margin: auto;
    width: 250px;
}
.cargando{
    font-size: 40px;
    text-align: center;
}
.padding{
    margin: 10px;
}
button{
    margin: 5px;
    border-radius: 5px;
}
.botonAddCart{
    display: block;
    margin: 10px auto;
}
.boldFont{
    font-weight: bold;
}

footer{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 30px 0;
}
footer p{
    font-weight: bold;
    font-size: 18px;
}
footer nav {
    display: flex;
    flex-direction: column;
    margin: 0;
}
footer nav>a{
    font-size: 15px;   
    padding: 5px;
}
footer .carrito{
    display: none;
}
.saludo{
    text-align: center;
    margin: 30px 0;
}
.productosTitulo{
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    font-size: 45px;
}

.cardImagen{
    display: block;
    margin: auto;
}